/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #82bb28
$textColor = #212121
$borderColor = #eaecef

.sidebar {
  background-color: #000;
}

a.sidebar-link {
  color: #b9b9b9;
}

a.sidebar-link:hover {
  color: #fff;
}

a.sidebar-link.active {
  color: #fff;
  border-left-color: #fff;
}

.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
  color: #fff;
}

.page-edit {
  display: none;
}

.last-updated {
  display: none;
}

.page-nav {
  padding-top: 0;
}
